<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <hr />
    <p>
        This is a simple demo of the BreezeDataSource extension.
    </p>
    <br/>
    <div class="offset1">
        <ul>
            <li>html data-bind initialization: <a href="#/grid-a">Grid A</a></li>
            <li>html/js mixed initialization: <a href="#/grid-b">Grid B</a><br/>
                Paging, sorting, filter are all active.
            </li>
        </ul>

    </div>

</section>
